{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container-fluid g-0 bg-carolina-blue">
  <div class="row">
    <div class="col-12">
      <div class="scrollable">
        <img
          src="https://res.cloudinary.com/dxerxpdfh/image/upload/v1667610128/static/images/people-painting-together-intext5_ctfdh9.jpg"
          class="w-100 img-responsive" alt="canvas painting">
      </div>
    </div>
  </div>
  <h1 class="text-center">Log out</h1>
  <div class="row">
  </div>
</div>
</div>
<div class="col-lg-12 col-lg-offset-3 col-md-12 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
  <div class="container-fluid g-0 bg-carolina-blue">
    <div class="row">
      <div class="text-center">
        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-primary btn-lg" type="submit" name="action">{% trans 'Sign Out' %}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>


<div class="container-fluid g-0 bg-carolina-blue">
  <div class="row">
    <div class="col-12">
      <div class="scrollable">
        <img
          src="https://res.cloudinary.com/dxerxpdfh/image/upload/v1667610136/static/images/warhammer-age-of-sigmar-people-playing-warhammer-world_lysfnd.jpg"
          class="w-100" alt="Playing a Board Game">
      </div>
    </div>
  </div>
</div>
</div>

<div class="col-lg-12 col-lg-offset-3 col-md-12 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
  <div class="container-fluid g-0 bg-carolina-blue">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col s12 center">
          <h4 class="text-capitalize text-center">we are opening a small restarant</h4>
          <p>
            We have a limited bar and menu for the food we are delighted to share with you all.
            By popular demand, we have added this to start with we will just serve bottled drinks and snacks depending
            on how popular this is we will in time increase this soon please ask a staff member for more information.
            Here's what we have to offer:
          </p>

          <table class="table table-sm bg-carolina-blue">
            <tbody>
              <tr>
                <th>Drinks</th>
                <td>Cola Pepsi Lilt 7up Monster Water Ribena</td>
              </tr>
              <tr>
                <th>Snacks</th>
                <td>Twix, Caramel Bars, Walkers: Ready Salted, Cheese and Onion and Salt and Vinegar</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid g-0">
  <div class="row">
    <div class="col">
      <div class="scrollable">
        <img
          src="https://res.cloudinary.com/dxerxpdfh/image/upload/v1667610167/static/images/277900171_503249018136607_8066799295243573873_n_oljupu.jpg"
          alt="diorama of models" class="w-100">
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}