
*{
  margin: 0;
  padding: 0;
  border: none;
}

html{
  width: 100%;
}

 body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.table{
  margin-top: 2rem;
}

.submit{
margin-top: 1rem;
margin-bottom: 1rem;
}

.bg-carolina-blue{
  background-color: #5299D3;
  color: #00008b;
}

.bg-midnight-green{
  background-color:#0B5563;
  color: #beb8eb;
}

.bg-blue-purple{
  background-color: #beb8eb;
}
.text-blue-purple{
  color: #beb8eb;
  text-decoration: none;
  margin-left: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.text-blue-purple:hover{
  color:#beb8eb;
}

.text-midnight-green{
  color: #0b5563;
  text-decoration: none;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(190, 184, 235)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(190, 184, 235);
} 

p {
  line-height: 2rem;
  font-size: 24px;
  font-weight: 300;
}

tbody{
  font-size: 24px;
  font-weight: 300;
}

.sidenav-trigger {
  color: #7a7a7a;
}

.container-fluid {
  line-height: 2rem;
  height: auto;
}
.container-fluid .section {
  width: 100%;
  }

ul{
  list-style-type: none;
}

li{
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  font-size: 24px;
  font-weight: 300;

}

.scrollable 
{
    overflow: hidden;
    max-height: 600px
}

#navbarNav{
  justify-content: end;
}

label{
  display: block;
  margin: 10px auto;
}

.scrollable img{
  margin-top: -3px;
}

.text-wrap{
  width: 20rem;
}
.padding-override{
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (max-width : 992px) {
  .container-fluid .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}




