
 body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

.bg-teal{
  background-color:#009687;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #7a7a7a;
}

.container-fluid {
  line-height: 0;
  height: auto;
  color: rgba(12, 11, 11, 0.9);
}
.container-fluid .section {
  width: 100%;
  }

ul{
  list-style-type: none;
  color: inherit;
}

li{
  padding-top: 2rem;
  padding-bottom: 0.5rem;

}

.list-group{
  background-color:inherit;
}
.scrollable 
{
    overflow: hidden;
    max-height: 600px
}

#navbarNav{
  justify-content: end;
}

footer a{
  color: black;
}

label{
  display: block;
  margin: 10px auto;
}

@media only screen and (max-width : 992px) {
  .container-fluid .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}


