{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="index-banner" class="container-fluid-fluid">
  <div class="section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="scrollable">
            <img src="{{ MEDIA_URL }}background1.jpg" class="w-100 img-responsive" alt="canvas painting">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12 col-lg-offset-3 col-md-12 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
  <div class="container-fluid bg-carolina-blue">
    <h1 class="header text-center">Whats on this week in the Activity Center</h1>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="icon-block">
          <h2 class="center text-capitalize">new releases from partners</h2>

          <p>
            From our partners at one of the biggest model makers they are releaseing the rest
            an army that had been in the hobby news for all the wrong reasons. the was going to
            be the most broken army relaese ever and then as they was about to release them the
            company release a video saing sorry and they will try to fix it.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="icon-block">
          <h3 class="center text-capitalize">classes going on at your hobby center</h3>

          <p>
            We have a lot of classes goning on at the hobby center this week.
            This table shows what we have going on this week book in to join in.
          </p>
          <table class="table table-sm bg-carolina-blue">
            <tbody>
              <tr>
                <th>Monday</th>
                <td>playing table top board games with Gareth</td>
              </tr>
              <tr>
                <th>Tuesday</th>
                <td>Painting models with Alan</td>
              </tr>
              <tr>
                <th>Wednesday</th>
                <td>finger painting with Emily</td>
              </tr>
              <tr>
                <th>Thursday</th>
                <td>Gaming / staff avlible if needed</td>
              </tr>
              <tr>
                <th>Friday</th>
                <td>wood caving with Patrick</td>
              </tr>
              <tr>
                <th>Saturday</th>
                <td>canvis paniting and theory </td>
              </tr>
              <tr>
                <th>Sunday</th>
                <td>all tables are free to use</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="icon-block">
          <h3 class="text-capitalize">announcement: sorry due to an unforseen leak we have to close 30/10/2022</h3>

          <p>
            Due to an unforeseen circumstance, we have had a leak and will have to cancel all appointments today.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="scrollable">
        <img src="{{ MEDIA_URL }}background2.jpg" class="w-100" alt="Playing a Board Game">
      </div>
    </div>
  </div>
</div>

  <div class="col-lg-12 col-lg-offset-3 col-md-12 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <div class="container-fluid bg-carolina-blue">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="col s12 center">
            <h4 class="text-capitalize text-center">we are opening a small restarant</h4>
            <p>
              we have a limited bar and menu for food we are delighted to share with you all.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container-fluid">
  <div class="section">
    <div class="row">
      <div class="col">
        <div class="scrollable">
          <img src="{{ MEDIA_URL }}background3.jpg" alt="diorama of models" class="w-100">
        </div>
      </div>
    </div>
  </div>
</div>
  {%endblock%}