{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="index-banner">
  <div class="section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="scrollable">
            <img src="https://res.cloudinary.com/dxerxpdfh/image/upload/v1667610128/static/images/people-painting-together-intext5_ctfdh9.jpg" class="w-100 img-responsive" alt="canvas painting">
          </div>
        </div>
      </div>
      <h1 class="header center">ASHLEY This Week </h1>
      <div class="row center">
      </div>
    </div>
  </div>
</div>

  <div class="col-lg-12 col-lg-offset-3 col-md-12 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="icon-block">
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our
              custom components. Additionally, we refined animations and transitions to provide a smoother experience
              for
              developers.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="icon-block">
            <h5 class="center">User Experience Focused</h5>

            <p>By utilizing elements and principles of Material Design, we were able to create a framework
              that incorporates components and animations that provide more feedback to users. Additionally, a single
              underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="icon-block">
            <h5>Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users
              get started. We are also always open to feedback and can answer any questions a user may have about
              Materialize.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class="section">
      <div class="row">
        <div class="col-12">
          <div class="scrollable">
            <img src="https://res.cloudinary.com/dxerxpdfh/image/upload/v1667610136/static/images/warhammer-age-of-sigmar-people-playing-warhammer-world_lysfnd.jpg" class="w-100" alt="Playing a Board Game">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12 col-lg-offset-3 col-md-12 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="col s12 center">
            <h4 class="text-center">Contact Us</h4>
            <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque
              id
              nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut
              ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque,
              posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis
              nisl
              maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida
              ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in
              faucibus orci luctus et ultrices posuere cubilia Curae;</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class="section">
      <div class="row">
        <div class="col">
          <div class="scrollable">
            <img src="https://res.cloudinary.com/dxerxpdfh/image/upload/v1667610167/static/images/277900171_503249018136607_8066799295243573873_n_oljupu.jpg" alt="diorama of models" class="w-100">
          </div>
        </div>
      </div>
    </div>
  </div>
  {%endblock%}